
section {
    text-align: left;
    color: #000000;

    h2 {
        
        font-size: 1.25em;
    }

    h3 {
        font-size: 1em;        
    }

    .button-container {
        text-align: right;
    }

    .block {
        display: block;
    }

    .hidden {
        display: none;
    }

    .results {
        background-color: #ccc;
        border-radius: 1em;
        padding: 10px;
    }

    .stepper {
        form {
            display: inline;
        }
        .form-group {
            width: 25%;
            display: inline-block;
            label {
                display: block;
                padding: 5px 0;
            }
            input {
                width: 95%;
                padding: 5px;
            }
        }
        
    }
}