.App {
  text-align: center;

  .App-header {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #ffffff;
    width: 100%;
  }  
}

.container {
  width: 70%;
  margin: 0px auto;
}

.makeStyles-root-1 {
  width: 100%;
}

.MuiAppBar-colorPrimary {
  background-color: #d82662 !important;
}

.MuiTypography-h1 {
  font-size: 1.75rem !important;
}

footer {
  margin: 20px 0;
  padding: 10px 0;
  width: 10%;
  border-top: 1px solid #d82662;
}


